{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view customer details</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Email</th>
            <th>User name</th>
            <th>Password</th>

        </tr>
        {% for ls in data %}
        <tr>
            <td>{{ls.name}}</td>
            <td>{{ls.address}}</td>
            <td>{{ls.contact}}</td>
            <td>{{ls.email}}</td>
            <td>{{ls.uname}}</td>
            <td>{{ls.password1}}</td>

        </tr>

        {% endfor %}

    </table>
</body>
</html>